<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/03060169-6fae-4f09-b9a9-1f486a859476/resourceGroups/TravelCompanion/providers/Microsoft.Web/sites/SafeTripTravelCompanion</ResourceId>
    <ResourceGroup>TravelCompanion</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://safetriptravelcompanion.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://safetriptravelcompanion.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>315d0f1d-4143-454a-97d4-43e37e8ea6de</ProjectGuid>
    <MSDeployServiceURL>waws-prod-bn1-073.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SafeTripTravelCompanion</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SafeTripTravelCompanion</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>