@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model double

<div class="display-4">
    Covid activity within the last month for @ViewBag.State
</div>

<hr />
    

@if (Model <= 0)
{
    <div class="display-5">
        Data currently unavailable for @ViewBag.State
    </div>
}
else
{
    <h6>
        Travel Safety level:
    </h6>
    <br />
    <div class="text-dark">***@ViewBag.SafetyLevel***</div>
    <br />
    <p>Our calculations for this risk level is completed with a risk level out of <strong>5</strong>, with 5 being the highest rate of covid increase in the last month</p>
    <hr/>
    <br />
    <h6>
        The covid rate in @ViewBag.State is @Model.ToString("P")
    </h6>
    <p>
        The percentage indicates the state's population with covid positive in the last month divided by the states total population.
    </p>


}

