@model SafeTripTravelCompanion.Models.DataBase.Questionaire

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Questionaire</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Answer1" class="control-label">What city would you like to visit?:</label>
                <input asp-for="Answer1" class="form-control" />
                <span asp-validation-for="Answer1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer2" class="control-label">What's your favorite hobby?:</label>
                <input asp-for="Answer2" class="form-control" />
                <span asp-validation-for="Answer2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer3" class="control-label">Describe your ideal vacation in one word:</label>
                <input asp-for="Answer3" class="form-control" />
                <span asp-validation-for="Answer3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
