@model SafeTripTravelCompanion.Models.DataBase.Questionaire

<h4>Tell us about your vacation preferences!</h4>
<hr />
<form asp-action="Create" asp-controller="Questionaires" method="post">
    <div class="row">
        <div class="col-md-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Answer1" class="control-label">What city would you like to visit?:</label>
                <input asp-for="Answer1" class="form-control" />
                <span asp-validation-for="Answer1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer2" class="control-label">What's your favorite hobby?:</label>
                <input asp-for="Answer2" class="form-control" />
                <span asp-validation-for="Answer2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer3" class="control-label">Describe your ideal vacation in one word:</label>
                <input asp-for="Answer3" class="form-control" />
                <span asp-validation-for="Answer3" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input asp-for="Museum" type="checkbox" value="true" class="form-control">
                <label asp-for="Museum" class="control-label"></label>
            </div>
            <div class="form-group">
                <input asp-for="Hiking" type="checkbox" value="true" class="form-control">
                <label asp-for="Hiking" class="control-label"></label>
            </div>
            <div class="form-group">
                <input asp-for="Shopping" type="checkbox" value="true" class="form-control">
                <label asp-for="Shopping" class="control-label"></label>
            </div>
            <div class="form-group">
                <input asp-for="Fishing" type="checkbox" value="true" class="form-control">
                <label asp-for="Fishing" class="control-label"></label>
            </div>
            <div class="form-group">
                <input asp-for="AmusementPark" type="checkbox" value="true" class="form-control">
                <label asp-for="AmusementPark" class="control-label"></label>
            </div>
            <div class="form-group">
                <input asp-for="Concert" type="checkbox" value="true" class="form-control">
                <label asp-for="Concert" class="control-label"></label>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
        
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
